/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
  font-size: 18px;
}

/****** FLEXBOX ***********/

header,
.links,
.title,
.cta,
.ilocation,
.city,
.sub,
.filtres,
.info,
.info-logo,
body,
.hebergements-and-populaires,
.hebergements-cards,
.hebergements-cards .card-content,
.populaires-title,
.populaires-cards .card,
.populaires-cards .card-content,
.activités,
.activités-cards,
footer {
  display: flex;
}

.links,
.cta {
  flex-direction: row;
}

header,
.hebergements-and-populaires,
.hebergements-cards,
.hebergements-cards .card-content,
.populaires-title,
.populaires-cards .card-content {
  justify-content: space-between;
}

.title,
.cta,
.filtres,
.info,
footer {
  justify-content: flex-start;
}

.title,
.hebergements-cards .card,
.hebergements-cards .card-content,
.populaires-cards .card-content,
.activités {
  flex-direction: column;
}

.ilocation,
.city,
.sub,
.filtres,
.info,
.info-logo,
.populaires-title {
  align-items: center;
}

.ilocation,
.info-logo,
body {
  justify-content: center;
}

/****** HEADER ***********/

.logo {
  width: 61.09px;
  height: 19px;
  padding: 30px;
}

.links {
  padding-top: 14px;
  padding-right: 25px;
}

.linkr {
  padding: 14px 0px;
  border-top: solid transparent 2px;
  margin-inline-start: 68px;
}

.linkr:hover {
  color: #0065fc;
  border-top: solid #0065fc 2px;
}

a:link,
a:visited,
a:active {
  color: #000000;
  text-decoration: none;
}

.title {
  padding: 30px 50px 35px 50px;
}

.head-subtitle {
  padding-top: 8px;
}

input {
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
}

.cta {
  padding-left: 50px;
}

.fa-location-dot {
  color: #000000;
}

.ilocation {
  background-color: #d9d9d9;
  width: 50px;
  height: 53px;
  border-radius: 15px 0px 0px 15px;
}

.city {
  background-color: white;
  padding: 0px 24px 0px 24px;
  border-top: solid #d9d9d9 1px;
  border-bottom: solid #d9d9d9 1px;
}

.sub {
  background-color: #0065fc;
  border: transparent;
  padding: 15px 16px;
  border-radius: 0px 15px 15px 0px;
}

.sub.mobile {
  display: none;
  cursor: pointer;
}

#rechercher {
  color: white;
  cursor: pointer;
}

.sub:hover {
  background-color: #0256d4;
}

/****** FILTRES ***********/

.filtres {
  padding: 35px 50px;
  font-weight: bold;
}

.filtre-title {
  padding-right: 15px;
}

.filtre-ico {
  display: inline-flex;
}

.ico {
  font-size: 17px;
  margin-right: 15px;
  border: solid #d9d9d9 2px;
  border-radius: 25px;
  padding: 14px 19px;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-fire {
  padding-right: 10px;
}
.ico:hover {
  background-color: #deebff;
}

.info {
  margin-left: 50px;
  margin-bottom: 35px;
}

.fa-circle-info {
  margin-right: 10px;
  color: #d9d9d9;
}

.info-logo {
  border: solid #d9d9d9 1px;
  border-radius: 50px;
  width: 22px;
  min-width: 22px;
  height: 22px;
  margin-right: 10px;
}

.fa-info {
  font-size: small;
}

/****** BODY ***********/

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  padding: 0px 50px;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.card-subtitle {
  font-size: 14px;
}

/****** HEBERGEMENTS ***********/

.hebergements {
  width: 65%;
  background-color: #f2f2f2;
}

.hebergements-cards {
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.hebergements-cards .card {
  margin-top: 33px;
  padding-bottom: 15px;
  width: 250px;
}
.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 67%;
  padding-left: 15px;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 8px;
  white-space: nowrap;
}

.hebergements-cards .card-rating {
  padding-top: 8px;
}

/****** POPULAIRES ***********/

.populaires {
  width: 32%;
  background-color: #f2f2f2;
}

.populaires-cards .card {
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** ACTIVITES***********/

.activités {
  margin: 35px 50px;
  padding: 30px;
}

.activités-title {
  padding-bottom: 30px;
}

.activités-cards {
  gap: 30px;
}

.activités-cards img {
  height: 380px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activités-cards .card {
  padding: 0;
  width: 298px;
}

.activités-cards .card-txt {
  padding: 20px 19px;
}

/****** f00TER ***********/

footer {
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
}

.a-propos,
.nos-hebergements,
.assistance {
  display: flex;
  flex-direction: column;
  border: transparent;
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 20px;
}

.footerlink {
  margin-top: 15px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
  .filtres,
  .hebergements-and-populaires,
  .populaires-cards {
    display: flex;
  }

  .filtres,
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .filtres {
    align-items: flex-start;
  }

  .filtre-title {
    padding-bottom: 20px;
  }

  .logo {
    padding: 30px 50px;
  }

  .links {
    padding-right: 50px;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    gap: 20px;
  }

  .populaires-cards .card {
    max-width: 265px;
  }

  .populaires-cards img {
    height: 146px;
  }

  .activités-cards img {
    max-width: 100%;
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  /* ... */

  header,
  .linkr,
  .cta,
  .filtre-ico,
  main,
  .populaires-cards,
  .activités-cards,
  footer {
    display: flex;
  }

  header,
  main,
  .populaires-cards,
  .activités-cards,
  footer {
    flex-direction: column;
  }

  .linkr,
  .cta,
  .populaires-cards {
    justify-content: center;
  }

  header {
    align-items: center;
  }

  .logo {
    padding: 30px;
  }

  .links {
    padding: 0;
    width: 100%;
  }

  .linkr {
    padding: 0px 0px 15px 0px;
    margin: 0;
    flex: 1;
    border-bottom: #f2f2f2 solid 2px;
  }

  .linkr:hover {
    color: #0065fc;
    border-top: solid transparent 2px;
    border-bottom: #0065fc solid 2px;
  }

  .title {
    padding: 30px 20px 0px 20px;
  }

  .cta {
    padding: 35px 20px 0px 20px;
  }

  .sub.desk {
    display: none;
  }

  .sub.mobile {
    display: block;
  }

  .fa-magnifying-glass {
    color: white;
  }

  .filtres {
    padding: 35px 20px 35px 20px;
    margin: 0;
  }

  .filtre-ico {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 10px;
  }

  .ico {
    margin: 0;
    font-size: 14px;
    width: 35%;
  }

  .info {
    margin: 0;
    padding: 0px 20px 35px 20px;
  }

  .hebergements-and-populaires {
    padding: 0;
  }

  .hebergements-and-populaires section {
    padding: 30px 25px 30px 20px;
    border-radius: 0px;
  }

  .populaires {
    margin: 0;
    order: 1;
  }

  .populaires-cards .card {
    max-width: none;
    margin-top: 15px;
  }

  .hebergements {
    order: 2;
    background-color: white;
  }
  .activités {
    order: 3;
  }

  .hebergements {
    margin-top: 15px;
  }

  .hebergements-cards .card {
    width: 100%;
    margin-top: 15px;
  }
  .hebergements-cards .card:nth-of-type(1) {
    order: 1;
  }
  .hebergements-cards .card:nth-of-type(2) {
    order: 6;
  }
  .hebergements-cards .card:nth-of-type(3) {
    order: 3;
  }
  .hebergements-cards .card:nth-of-type(4) {
    order: 4;
  }
  .hebergements-cards .card:nth-of-type(5) {
    order: 2;
  }
  .hebergements-cards .card:nth-of-type(6) {
    order: 5;
  }

  .activités {
    margin: 35px 0px 0px 0px;
  }

  .activités-cards .card {
    margin-bottom: 15px;
    width: auto;
  }

  .activités-cards img {
    height: 141px;
  }

  footer {
    padding: 0;
  }

  .a-propos,
  .nos-hebergements,
  .assistance {
    padding: 30px;
    width: auto;
  }
}
